<%= form_with(model: rubric_aspect, local: true) do |form| %>
  <% if rubric_aspect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubric_aspect.errors.count, "error") %> prohibited this rubric_aspect from being saved:</h2>

      <ul>
        <% rubric_aspect.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
